#case-charts{
    height: 38em;
    display: flex;
}

#ranking-bottom-half {
    display: flex;
    height: 38em;

}

#disease-name {
    width: 5em;
}

#confirmed-cases{
    padding:  0 5em 0 0;
    display: flex;
    flex-direction: column;
    margin: 15em 15em 10em 5em;
}

#covid-deaths{
    padding:  0 5em 0 0;
    margin: 0em 15em 10em 5em;
}